body{
    margin: 125px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;;
}
// 1er contenedor
.container{
    margin:  0px 20px 0px 20px;
    
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.listamenu{
    list-style: none;
    display: none;
}
.listamenu{
    a{
        text-decoration: none;
        color: $grey;
    }
}
.menuelogo{
    max-width: 5%;
    padding-left: 245px;
}
.container{
    h1{
        margin: 0;
        font-weight: 223px;
        margin-top: 55px;
        font-size: 85px;
    }
}
.container{
    p{
        margin: 0;
        padding-top: 15px;
        font-size: 12px;
        width: 80%;
    }
}
.imagecontainer{
    display: inline-block;
    margin-top: -4px;
}
.imagcontainer{
    margin-top: 67px;
}
.image{
    display: inline;
}
.donasimg{
    max-width: 49%;
    margin: 0;
}
.confitesimg{
    max-width: 49%;
    display: inline;
}
#telefono{
    border-left: 2px solid $grey;
    padding-bottom: 128px;
    // transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
#imgtelefono{
    text-align: center;
    padding-top: 118px;
}
#info{
    p{
        text-align: center;
    }
}
#infonumber{
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
}
#mail{
    color: $letterceleste;
}
.color{
    background-color: $celeste;
}
.listafooter{
    list-style: none;
    margin:0 ;
    padding-bottom: 20%;
    
}
.listafooter{
    a{
        text-decoration: none;
        color: black;
        float: left;
        margin-right: 54px;
        padding-bottom: 60px;
    }
}
#rayo{
    float: right;
    margin-right: 34px;
    margin-top: -40px;
    margin-bottom: 0px;
}